package days.day__X__;

import java.io.IOException;
import java.util.*;
import util.InputLoader;

import days.Day;

public class Day__X__ implements Day {
    private final String filename = "input/day__X__.txt";
    private List<String> input;

    @Override
    public void initialize() {
        System.out.println("Day __X__");

        try {
            input = InputLoader.loadList(filename);
        } catch (IOException e) {
            System.out.println(e);
            System.exit(1);
        }
    }

    @Override
    public void partOne() {
        System.out.println("Part One");


    }

    @Override
    public void partTwo() {
        System.out.println("Part Two");


    }
}